.about-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    font-size: 2rem;
    color: var(--text);
    width: 60vw;
    text-align: justify;
}

.about-main > h1{
    margin: 2rem;
}

.about-main > p{
    text-justify: auto;
}