@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Italic";
    src: url("./assets/fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu ";
    src: url("./assets/fonts/ubuntu") format("truetype");
    font-weight: normal;
    font-style: italic;
}

:root {
    --text: #c27971;
    --texthover: #e5d1cf;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Ubuntu";
}

#root{
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}